$primary-palette: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #1565C0,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  contrast: (
    50: rgba(0,0,0,.87),
    100: rgba(0,0,0,.87),
    200: rgba(0,0,0,.87),
    300: rgba(0,0,0,.87),
    400: rgba(0,0,0,.87),
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$accent-palette: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #00897B,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  contrast: (
    50: rgba(0,0,0,.87),
    100: rgba(0,0,0,.87),
    200: rgba(0,0,0,.87),
    300: rgba(0,0,0,.87),
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$warn-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #d32f2f,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  contrast: (
    50: rgba(0,0,0,.87),
    100: rgba(0,0,0,.87),
    200: rgba(0,0,0,.87),
    300: rgba(0,0,0,.87),
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);
